.box {
    width: 60%;
    height: 15%;
    background: #FFF;
    position: relative;
    box-sizing: border-box;
    margin: 32px 0;
    padding: auto;
    top: 30%;
    border-radius: 20px;
    border: 1px solid #CBCFCB;
    box-shadow: 0px 4px 4px 0px rgba(217, 217, 217, 0.25);
}

.box:nth-of-type(1) {
    margin-top: 0;
}

.css-fix {
    white-space: pre-wrap;
}

#locType {
    background-color: #62B16E;
    border-radius: 4px;
    display: inline;
    white-space: pre;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box p {
    font-family: Arial;
    color: #0f140e;
    margin: 5px 0 0 20px;
    font-size: 12px;
    width: fit-content;
}

.box a {
    color: inherit;
}


#header {
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 150% */
    letter-spacing: 2.4px;
}


.logo {
    height: 80%;
    position: absolute;
    top: 10%;
    right: 5%;
}



button {
    background: none;
    border: none;
    position: absolute;
}
#expandButton {
    bottom: 0;
    left: 45%;
}

.visible {
    font-size: 0px !important;
}

#heartButtonImg {
    height: 3vh;
}

#heartButton {
    left: 45%;
    top: 5%;
}

button:hover {
    cursor: pointer;
}

